<body id="page-top">
  <!-- Navigation -->
  <nav id="main-navbar" class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger visible-lg visible-md" href="#page-top"><%= image_tag "white_header.png", class: "img-fluid fms_brand",size: '100x100'  %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link js-scroll-trigger" href="#check_regulation_status"><%= t 'menu.title.check_regulation_status' %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#how_perform_search_site"><%= t 'menu.title.how_perform_search_site' %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contacts"><%= t 'menu.title.contacts' %></a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href= <%= regulations_queue_path %>><%= t 'menu.title.regulations_queue' %></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section id="check_regulation_status" class="masthead">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <div class="card border-primary">
            <div class="card-body">
              <h4 class="card-title"><%= t 'menu.sub_title.enter_regulatory_request_number' %></h4>
              <%= form_tag({controller: 'detail_scheduling', action: 'index'}, method: 'get', class: 'form-horizontal') do %>
                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-11">
                      <%= number_field_tag :number_id, "",class: "form-control",placeholder: "Insira o número aqui" , pattern: "[0-9]+"%>
                    </div>
                    <div class="col-lg-1">
                      <a class="nav-link js-scroll-trigger" href="#how_perform_search_site">
                        <%= octicon "question", height: 36 %>
                      </a>
                    </div>
                  </div>
                </div>

                <div class="form-group col-sm-offset-1">
                  <button type="submit" id="button_busca" class="btn btn-primary">
                    <%= t 'menu.button.seach_button' %>
                  </button>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <div class="card border-primary">
            <div class="card-body">
              <h4 class="card-title"><%= t 'menu.title.regulations_queue' %></h4>
              <p><%= t :section_description, scope: :regulations_queue %></p>
              <%= link_to t('regulations_queue.btn.go_to_regulations_queue'), regulations_queue_path, class: 'btn btn-primary mt-3' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="how_perform_search_site">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <div class="card border-primary">
            <div class="card-header"><%= t 'menu.title.how_perform_search_site' %></div>
            <div class="card-body">
              <center>
                <p>O Número da Solicitação de Regulação está localizado no comprovante emitido pelo SAME da UBS, conforme figura abaixo:</p>
                <%= image_tag "how_perform_search_site.png", class: "img-fluid" %>
              </center>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="contacts">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <div class="card border-primary">
            <div class="card-header"><%= t 'menu.title.contacts' %></div>
            <div class="card-body">
              <h4 class="card-title"><%= t 'menu.sub_title.ombudsman' %></h4>
              <p class="card-text">Telefone: (86) 3223-2132</p>
              <p class="card-text">WhatsApp: (86) 99446-3321</p>
              <p class="card-text">E-mail: ouvidoriasus@pmt.pi.gov.br</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
