<article>
  <div class="card">
      <div class="card-body">
         <h4 class="card-title pb-2"><%= t 'menu.sub_title.faq' %></h4>
        <dl>
          <dt>
            Por que não encontro minha regulação na fila?
          </dt>
          <dd>
            Regulações podem não aparecer nas filas nos seguintes casos:
            <ul>
              <li>
                Caso tenha mais de uma crítica de agendamento (Condições que interferem na executabilidade do procedimento, como idade ou sexo incompatíveis com o procedimento, por exemplo).
              </li>
              <li>
                Caso tenha sido cadastrada hoje.
              </li>
              <li>
                Regulações com situação Agendada, Vencida e Pendente.
              </li>
            </ul>
            Realize a consulta da situação da regulação <%= link_to 'aqui', root_path %>.
          </dd>
          <dt>
            Como são geradas as filas?
          </dt>
          <dl>
            As filas são geradas através do sistema gestor saúde e divulgadas pela FMS.
          </dl>
        </dl>
      </div>
    </div>
</article>
