


<!-- Modal -->
<div class="modal fade" id="more_info_modal" tabindex="-1" role="dialog" aria-labelledby="regulation_queue_more_info_modal_title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="regulation_queue_more_info_modal_title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <span class='more_info_label'> <%= t(:reason_for_order_change, scope: :regulations_queue) %>: </span>
            <span id = 'reason_for_order_change'> <%# Razoes para alteracao de ordem %></span>
        </div>
        <div class="form-group">
            <span class='more_info_label'> <%= t(:request_date, scope: :regulations_queue) %>: </span>
            <span id = 'request_date'> <%# Data de requisicao %></span>
        </div>
        <div class="form-group">
            <span class='more_info_label'> <%= t(:sus_number, scope: :regulations_queue) %>: </span>
            <span id = 'sus_number'> <%# Data de requisicao %></span>
        </div>
        <div class="form-group">
          <span class='more_info_label'>
            <%= t(:date_of_birth, scope: :regulations_queue) %>:
          </span>
          <span id = 'date_of_birth'>
            <%# Data de nascimento %>
          </span>
        </div>
        <div class="form-group">
          <span class='more_info_label'>
            <%= t(:expected_service_date, scope: :regulations_queue) %>:
          </span>
          <span id = 'expected_service_date'>
            <%#= regulation.fields["previsao_fila_agendamento"]%>
          </span>
        </div>
        <div class="form-group">
          <span class='more_info_label'>
            <%= t(:registering_health_unit, scope: :regulations_queue) %>:
          </span>
          <span id = 'registering_health_unit'>
            <%#= regulation.fields["estabelecimento_solicitante_nome"]%>
          </span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t(:close, scope: :actions)%></button>
      </div>
    </div>
  </div>
</div>
