<div class="table-responsive">
  <table class='table table-striped text-center'>
    <thead class = 'thead-dark'>
      <tr class = 'text-nowrap'>
        <th><%= t(:position, scope: :regulations_queue) %></th>
        <th><%= t(:inclusion_date, scope: :regulations_queue) %></th>
        <th><%= t(:regulation_id, scope: :regulations_queue) %></th>
        <th><%= t(:more_info, scope: :regulations_queue) %></th>
      </tr>
    </thead>
    <tbody>
      <% @regulations_queue.each do |regulation|%>
        <tr>
          <td> <%= regulation.fields["posicao_fila"]%> </td>
          <td> <%=l regulation.inclusion_date, default: ''%> </td>
          <td> <%= regulation.fields["regulacao_id"]%> </td>
          <td> 
            <button type = 'button' class='btn btn-outline-primary rounded' data-toggle = "modal"
                    data-target = "#more_info_modal" data-id = <%= regulation.fields['regulacao_id'] %>  >
              <%= octicon "info" %>
            </button>
          </td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>
      <%== pagy_bootstrap_nav_js(@pagy) %>
      <%= render "more_info" %>
