<nav id="queue-navbar" class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class = 'container'>
      <a class="navbar-brand visible-lg visible-md" href="/">
        <%= image_tag "white_header.png", class: "img-fluid fms_brand",size: '100x100'  %>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
              aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="queue_navbar_collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href= <%= root_path %>><%= t 'menu.title.check_regulation_status' %></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href= <%= regulations_queue_path %>><%= t 'menu.title.regulations_queue' %></a>
          </li>
        </ul>
      </div>
  </div>
</nav>
<div class="container">
  <div class="row masthead">
    <div class="alert alert-info col-12" role="alert">
      <%= t(:info, scope: :regulations_queue, update_date: l(@update_date, format: :long, default: '')) %>
    </div>
    <div class="col">
      <section>
        <div class="card border-primary">
          <div class="card-body">
          <h4 class="card-title"><%= t 'menu.sub_title.select_queue' %></h4>
            <%= form_with(url: regulations_queue_path, method: 'get', class: 'pt-2 form-vertical') do %>
              <div class="form-group row">
                <%= label_tag :cbo, t(:cbo, scope: :regulations_queue), class: "col-form-label"%>
                <%= select_tag(:cbo, options_for_select(RegulationQueue.cbos), 
                              {id: 'cbo_select', include_blank: true, class: 'form-control', aria: { describedby: "cboHelpBlock"}, autocomplete: 'off'}) %>
                <small id="cboHelpBlock" class="form-text text-muted">
                  <%= t(:cbo_help, scope: [:regulations_queue, :help]) %>
                </small>

              </div>
              <div class="form-group row">
                <%= label_tag :procedure, t(:procedure, scope: :regulations_queue), class: "col-form-label"%>
                <%= select_tag(:procedure, [], id: 'procedure_select', class: 'form-control', aria: { describedby: "procedureHelpBlock"}) %>
                <small id="procedureHelpBlock" class="form-text text-muted">
                  <%= t(:procedure_help, scope: [:regulations_queue, :help]) %>
                </small>
              </div>
              <%= submit_tag(t(:submit_queue_filters, scope: %i[regulations_queue btn]), id: 'submit_btn', class: 'btn btn-primary') %>
            <% end %>
          </div>
        </div>
      </section>
    </div>
  </div>
  <section>
    <div class="card">
      <div class="card-body">
        <div class = 'row'>
          <div id = 'regulations_queue_table_container' class="col">
            <%= render "regulations_queue_table" %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%= render "faq" %>
</div>
