<%# empty table %>
$("#regulations_queue_table_container").empty()
<%# renders the updated table %>
$("<%= escape_javascript(render "regulations_queue_table") %>").appendTo("#regulations_queue_table_container");
<%# add event listener for modal activation %>
$('#more_info_modal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget)
    var fields = button.data('id'); 
    fetch_regulation_queue_more_field_data(fields)
  })
Pagy.init(document.getElementById('regulations_queue_table_container'));
