<body id="page-top">
<!-- Navigation -->
<nav id="main-navbar" class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger visible-lg visible-md" href="#page-top"><%= image_tag "white_header.png", class: "img-fluid",size: '100x100' %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<section>
  <div class="container masthead" id="printDiv">
    <div class="card border-primary">
      <div class="card-header"> <div class="row"><div class="col-3"><%= image_tag "logo-fms.png", class: "img-fluid", size: '200x60' %></div><div class="col-9"></div></div></div>
      <div class="card-body">
        <% if @patient_data.present? && (@patient_data["regulacao_id"].present? || @patient_data["agendamento_id"].present?) %>
            <div class="row">
              <div class="col-lg-12 col-xs-12 col-sm-12">
                <h4 class="card-title" style="margin-bottom: 0.1rem">Situação</h4>
                  <% if @patient_data["situacao_fila"]=='Pendente de Informação' || @patient_data["situacao_fila"]=='Pendente' %>
                    <p class="card-text"><strong><span class="badge badge-pill badge-warning"><%= @patient_data["situacao_fila"] %></span></strong></p>
                    <div class="alert alert-dismissible alert-warning">SEU PEDIDO HÁ INFORMAÇÕES INCOMPLETAS. COMPAREÇA IMEDIATAMENTE À SUA UNIDADE BÁSICA DE SAÚDE.</div>
                    <% end %>
                  <% if @patient_data["situacao_fila"]=='Em Análise' %>
                    <p class="card-text" ><strong><span class="badge badge-pill badge-warning"><%= @patient_data["situacao_fila"] %></span></strong></p>
                    <div class="alert alert-dismissible alert-warning">
                      <b>AGUARDE ANALISE DA CENTRAL DO SUS.</b> </div>
                     <% end %>
                  <% if @patient_data["situacao_fila"]=='Liberada para Agendamento' || @patient_data["situacao_fila"]=='Liberada' %>
                    <p class="card-text" ><strong><span class="badge badge-pill badge-warning"><%= @patient_data["situacao_fila"] %></span></strong></p>
                    <div class="alert alert-dismissible alert-warning">
                      <b>SOLICITAÇÃO LIBERADA. COMPAREÇA A UMA UNIDADE BÁSICA DE SAÚDE PARA REALIZAR O AGENDAMENTO.</b> </div>
                    <% end %>
                  <% if @patient_data["situacao_fila"]=='Negada' %>
                    <p class="card-text" ><strong><span class="badge badge-pill badge-danger"><%= @patient_data["situacao_fila"] %></span></strong></p>
                    <div class="alert alert-dismissible alert-danger">
                      <b>REGULAÇÃO NEGADA POR INFORMAÇÕES INCOERENTES. NA DÚVIDA, COMPAREÇA À SUA UNIDADE BÁSICA DE SAÚDE PARA ESCLARECIMENTOS.</b></div>
                    <% end %>
                  <% if @patient_data["situacao_fila"]=='Agendada' %>
                    <p class="card-text" ><strong><span class="badge badge-pill badge-success"><%= @patient_data["situacao_fila"] %></span></strong></p>
                    <div class="alert alert-dismissible alert-success">
                      <b>ENCAMINHAMENTO MARCADO. VÁ IMEDIATAMENTE À SUA UNIDADE BÁSICA DE SAÚDE PARA QUE O COMPROVANTE DE AGENDAMENTO SEJA CARIMBADO E ASSINADO PELO SERVIDOR DO SAME.</b> </div>
                    <% end %>
                  <% if @patient_data["situacao_fila"]=='Marcado Normal' %>
                    <p class="card-text" ><strong><span class="badge badge-pill badge-success"><%= @patient_data["situacao_fila"] %></span></strong></p>
                    <div class="alert alert-dismissible alert-success">
                      <b>ENCAMINHAMENTO MARCADO. VÁ IMEDIATAMENTE À SUA UNIDADE BÁSICA DE SAÚDE PARA QUE O COMPROVANTE DE AGENDAMENTO SEJA CARIMBADO E ASSINADO PELO SERVIDOR DO SAME.</b></div>
                    <% end %>
                  <% if @patient_data["situacao_fila"]=='Conferida' %>
                    <p class="card-text" ><strong><span class="badge badge-pill badge-info"><%= @patient_data["situacao_fila"] %></span></strong></p>
                    <div class="alert alert-dismissible alert-info">SOLICITAÇÃO DE REGULAÇÃO FOI CONFERIDA, NA DÚVIDA, COMPAREÇA A UMA UNIDADE BÁSICA DE SAÚDE PARA ESCLARECIMENTOS.</div>
                    <% end %>
                  <% if @patient_data["situacao_fila"]=='Obito' %>
                    <p class="card-text" ><strong><span class="badge badge-pill badge-danger"><%= @patient_data["situacao_fila"] %></span></strong></p>
                    <div class="alert alert-dismissible alert-danger">O PACIENTE FALECEU, COMPAREÇA A UMA UNIDADE BÁSICA DE SAÚDE PARA ESCLARECIMENTOS.</div>
                    <% end %>
                  <% if @patient_data["situacao_fila"]=='Revalidação' %>
                    <p class="card-text" ><strong><span class="badge badge-pill badge-danger"><%= @patient_data["situacao_fila"] %></span></strong></p>
                    <div class="alert alert-dismissible alert-danger">
                      <b>SOLICITAÇÃO PASSOU MAIS DE 60 DIAS AGUARDANDO AGENDAMENTO. DIRIJA-SE IMEDIATAMENTE À SUA UNIDADE DE SAUDE PARA CONFIRMAÇÃO. OBS: CASO A SOLICITAÇÃO PERMANEÇA MAIS 180 DIAS EM REVALIDAÇÃO ELA SERÁ CANCELADA AUTOMATICAMENTE.</b></div>
                    <% end %>
                  <% if @patient_data["situacao_fila"]=='Vencida' || @patient_data["situacao_fila"]=='Cancelada' %>
                    <p class="card-text" ><strong><span class="badge badge-pill badge-danger"><%= @patient_data["situacao_fila"] %></span></strong></p>
                    <div class="alert alert-dismissible alert-danger">
                      <b>SOLICITAÇÃO CANCELADA. COMPAREÇA A UNIDADE BASICA DE SAÚDE PARA ESCLARECIMENTOS.</b></div>
                    <% end %>
              </div>
            </div>
              <div class="row">
                <table width="100%">
                  <tbody>
                  <tr>
                    <td>
                      <% if @patient_data["data_hora_atendimento"].present? %>
                          <div class="col-lg-6 col-xs-6 col-sm-6">
                            <h4 class="card-title" style="margin-bottom: 0.1rem">Data e hora da consulta marcada</h4>
                            <p class="card-text" style="display: inline;"><%= @patient_data["data_hora_atendimento"].split(" ")[0].to_date.strftime("%d/%m/%Y") %>
                              - <%= @patient_data["data_hora_atendimento"].split(" ")[1] %></p>
                          </div>
                      <% end %>
                    </td>
                    <td>
                      <% if @patient_data["regulacao_id"].present? %>
                          <div class="col-lg-6 col-xs-6 col-sm-6">
                            <h4 class="card-title" style="margin-bottom: 0.1rem">ID de regulação</h4>
                            <p class="card-text" style="display: inline;"><%= @patient_data["regulacao_id"] %></p>
                          </div>
                      <% end %>
                    </td>
                  </tr>
                  <% if (@patient_data["situacao_fila"]=='Agendada' || @patient_data["situacao_fila"]=='Marcado Normal') && @patient_data["agendamento_autorizacao"].present? %>
                  <tr>
                    <td>
                          <div class="col-lg-6 col-xs-6 col-sm-6">
                            <h4 class="card-title" style="margin-bottom: 0.1rem">Autorização do agendamento</h4>
                            <p class="card-text" style="display: inline;"><%= @patient_data["agendamento_autorizacao"] %></p>
                          </div>
                    </td>
                  </tr>
                      <% end %>
                  </tbody>
                </table>
              </div>
            <hr>
                <% if (@patient_data["situacao_fila"]=='Agendada' || @patient_data["situacao_fila"]=='Marcado Normal') && @patient_data["estabelecimento_executante_nome"].present? %>
                    <h4 class="card-title" style="margin-bottom: 0.1rem">Estabelecimento executante da consulta</h4>
                    <p class="card-text" style="display: inline;"><%= @patient_data["estabelecimento_executante_nome"] %></p>
                    <h4 class="card-title" style="margin-bottom: 0.1rem">Endereço do estabelecimento</h4>
                    <p class="card-text" style="display: inline;"><%= @patient_data["estabelecimento_executante_endereco"] %>
                      , <%= @patient_data["estabelecimento_executante_bairro"] %></p>
                <% if @patient_data["estabelecimento_executante_fone1"].present? || @patient_data["estabelecimento_executante_fone2"].present?%>
                    <h4 class="card-title" style="margin-bottom: 0.1rem">Telefones para contato</h4>
                    <p class="card-text" style="display: inline;"><%= @patient_data["estabelecimento_executante_fone1"] %>
                       <%= @patient_data["estabelecimento_executante_fone2"] %></p>
                    <% end%>
                    <hr>
              <% end %>
        <% if (@patient_data["posicao_fila"] && @patient_data["previsao_fila_agendamento"])  %>
          <h4 class="card-title" style="margin-bottom: 0.1rem">Posição da Fila</h4>
          <p class="card-text" style="display: inline;"><strong><%= @patient_data["posicao_fila"] %></strong></p>
          <h4 class="card-title" style="margin-bottom: 0.1rem">Previsão de atendimento</h4>
          <p class="card-text" style="display: inline;"><strong><%= @patient_data["previsao_fila_agendamento"] %></strong></p>
        <% end %>
                <br>
                <br>
                <div class="footer_ass">
                  <center>
                    <h4 class="card-title" style="margin-bottom: 0.1rem">_________________________________________________</h4>
                    <p class="card-text" style="display: inline;">Assinatura e Carimbo do Responsável pelo Agendamento</p>
                  </center>
                </div>
            </div>
            <% elsif @patient_data.blank?%>
            <div class="alert alert-dismissible alert-danger">
              <h4 class="card-title">Verifique se o ID ou da solicitação de regulação localizado no seu comprovante de agendamento está correto!</h4>
            </div>
            <% else %>
                <div class="alert alert-dismissible alert-danger">
                  <h4 class="card-title"><%= @patient_data %></h4>
                </div>
            <% end %>
            </div>
       </div>
            <div class="container form-group col-sm-offset-1">
            <% if  @patient_data.present? && @patient_data["regulacao_id"].present? %>
                <button id="buttonImprimir" type="button" class="btn btn-primary">Imprimir</button>
            <% end %>

              <a href="javascript:history.back()" type="button" class="btn btn-primary"><%= t 'helpers.links.back' %></a>
            </div>
    </div>
  </section>
</body>
