// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.masthead {
  padding-top: 125px;
}

section,
article {
  padding: 10px;
}

.fms_brand {
  filter: drop-shadow(1px 1px 0px var(--gray));
  width: 60%;
}

.more_info_label {
  color: var(--primary);
  font-weight: bold;
  display: block;
  padding-bottom: 5px;
}
