<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title><%= Rails.application.config.system_title %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('logofms.png'), :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag asset_path('logofms.png'), :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag asset_path('logofms.png'), :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag asset_path('logofms.png'), :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag asset_path('logofms.png'), :rel => 'shortcut icon' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%#<% if Rails.env.production? %>
        <%#[> Global site tag (gtag.js) - Google Analytics <]%>
        <%#<script async src="https://www.googletagmanager.com/gtag/js?id=UA-141617894-1"></script>%>
        <%#<script>%>
            <%#window.dataLayer = window.dataLayer || [];%>
            <%#function gtag(){dataLayer.push(arguments);}%>
            <%#gtag('js', new Date());%>

            <%#gtag('config', 'UA-141617894-1');%>
        <%#</script>%>
  <%#<% end %>
  </head>

  <body>
    <%= yield %>
  </body>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white"><%= Rails.application.config.system_footer %></p>
    </div>
  </footer>
</html>
